html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html,
body {
  min-height: 100%;
  height: 100%;
  width: 100%; }

.img-btn-container {
  width: 100%;
  min-height: 100%;
  height: 100%; }

.col-2 {
  position: relative;
  width: 50%;
  height: 50%;
  float: left; }
  @media (max-width: 768px) {
    .col-2 {
      width: 100%; } }

.image-btn-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%; }
  .image-btn-wrapper:hover .image-btn-bg {
    opacity: .6;
    transform: scale(1.2); }

.line-bottom:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background: #3DAB47;
  z-index: 1;
  transform: scaleX(0) translateZ(0);
  transform-origin: 0 0;
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1); }

.line-bottom:hover:before {
  transform: scaleX(1) translateZ(0); }

.image-btn-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all .5s ease-in-out; }
  .image-btn-bg.btn-1 {
    background: rgb(241, 23, 85) center/cover no-repeat; }
  .image-btn-bg.btn-2 {
    background: greenyellow center/cover no-repeat; }
  .image-btn-bg.btn-3 {
    background: blue center/cover no-repeat; }
  .image-btn-bg.btn-4 {
    background: rgb(6, 229, 241) center/cover no-repeat; }

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
  text-decoration: none;
  text-transform: uppercase;
  color: white; }

.cell {
  text-align: center;
  display: table-cell;
  vertical-align: middle; }
  .cell * {
    padding: 0;
    margin: 0; }
